<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <variable name="basedir" value="."/>

  <targets>
    <!--default-wrapper xsi:type="AsyncWrapper"  queueLimit="100000" overflowAction="Block"/-->
    <default-target-parameters
      xsi:type="File"
      deleteOldFileOnStartup="true"
      layout="[${longdate} ${level:uppercase=true} ${callsite:fileName=true:includeSourcePath=false:cleanNamesOfAnonymousDelegates=true}] ${message} ${exception:format=tostring}" />
    <target name="info" xsi:type="File" fileName="${basedir}/${processname}.${shortdate}.INFO.log" />
    <target name="warn" xsi:type="File" fileName="${basedir}/${processname}.${shortdate}.WARN.log" />
    <target name="error" xsi:type="File" fileName="${basedir}/${processname}.${shortdate}.ERROR.log" />
    <target
      name="console"
      xsi:type="ColoredConsole"
      layout="[${longdate} ${level:uppercase=true} ${callsite:fileName=true:includeSourcePath=false:cleanNamesOfAnonymousDelegates=true}] ${message} ${exception:format=tostring}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="console,info" final="false"/>
    <logger name="*" minlevel="Warn" writeTo="warn"  final="false" />
    <logger name="*" minlevel="Error" writeTo="error"  final="false" />
  </rules>
</nlog>
